[submodule "third_party/munt"]
	path = third_party/munt
	url = https://github.com/munt/munt.git
[submodule "third_party/nuked_sc55"]
	path = third_party/nuked_sc55
	url = https://github.com/nukeykt/Nuked-SC55.git
